<section id="faq">
  <div class="container">

    <div class="section-header">
      <h3 class="section-title">Frequently Asked Questions</h3>
      <span class="section-divider"></span>
    </div>
    <div class='faq'>
      <input id='faq-a' type='checkbox'>
      <label for='faq-a'>
        <p class="faq-heading">How can I register offline for events?</p>
          <p class="faq-text">You can contact us through GITHUB or email, after that we will set-up a meeting!<br>If you have more questions, please feel free to submit a request!</p>
      </label>
      <input id='faq-b' type='checkbox'>
      <label for='faq-b'>
        <p class="faq-heading">Do you have development trainings available?</p>

          <p class="faq-text">Yes, we have professional development trainings available almost every month. We conduct Coding tests, Quiz, Workshops, Meet ups with the IT professionals, etc.<br>If you have more questions, please feel free to submit a request!</p>
      </label>
      <input id='faq-c' type='checkbox'>
      <label for='faq-c'>
        <p class="faq-heading">What are the technical requirements to take part?</p>

          <p class="faq-text">We provide knowledge from basic, but in some cases pre knowledge is required (We mention it in perticular event).<br> If you have more questions, please feel free to submit a request!</p>
      </label>
      <input id='faq-d' type='checkbox'>
    </div>
    

  </div>
</section><!-- #faq -->
