<div class="bot0">
<!-- footer-copyright start -->
<footer  class="footer-copyright">
    <div class="foot-icons ">
      <ul class="footer-social-links list-inline list-unstyled">
                <li><a href="#" target="_blank" class="foot-icon-bg-1"><img src="../../assets/img/footer/facebook.png"></a></li>
                <li><a href="#" target="_blank" class="foot-icon-bg-3"><img src="../../assets/img/footer/instagram.png"></a></li>
                <li><a href="#" target="_blank" class="foot-icon-bg-2"><img src="../../assets/img/footer/githublogo.png"></a></li>
          </ul>
          <p>&copy; 2019 CODINGCLUB, SVIT. All Right Reserved.<br>Developed By Raj Matroja, Kartik Dambre, Chintan prajapati</p>

        </div><!--/.foot-icons-->
    <div id="scroll-Top">
      <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </div><!--/.scroll-Top-->

</footer><!-- /.footer-copyright-->
<!-- footer-copyright end -->
</div>
