<section id="about" class="section-bg">
  <div class="container-fluid">
    <div class="section-header">
      <h3 class="aboutushead">About Us</h3>
      <span class="section-divider"></span>
    </div>

  </div>
</section><!-- #about -->



<section id="two" class="wrapper style2 alt">
  <div class="inner">
    <div class="spotlight">
      <div class="image">
        <img src="../../assets/img/pic03.jpg" alt="" />
      </div>
      <div class="content">
        <h3>What We do?</h3>
        <h4>We conduct events and workshops, hold lectures and talks, and even host coding competitions and hackathons. </h4>
        <h4>There is something for everyone. Whether you want to learn, participate in hackathons and win big prizes, prepare for the Google Summer of Code or code your way through the ACM-ICPC, you can do it all here.</h4>
        <ul class="actions">
        </ul>
      </div>
    </div>
