<section id="about" class="section-bg">
  <div class="container-fluid">
    <div class="section-header">
      <h3 class="aboutushead">About Us</h3>
      <span class="section-divider"></span>
    </div>

  </div>
</section><!-- #about -->



<section id="two" class="wrapper style2 alt">
  <div class="inner">
    <div class="spotlight">
      <div class="image">
        <img src="../../assets/img/pic03.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Ipsum pharetra tempus</h3>
        <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
        <p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
        <ul class="actions">
        </ul>
      </div>
    </div>
