<section id="about" class="section-bg">
  <div class="container-fluid">
    <div class="section-header">
      <h3 class="aboutushead">About Us</h3>
      <span class="section-divider"></span>
    </div>

  </div>
</section><!-- #about -->



<section id="two" class="wrapper style2 alt">
  <div class="inner">
    <div class="spotlight">
      <div class="image">
        <img src="../../assets/img/aboutus.jpg" alt="" />
      </div>
      <div class="content" style="text-align: justify;">
        <h3>Brief introduction about us</h3>
        <h4>Information Technology department has established “Coding Club” in SVIT, VASAD for the students of all department under the ages of R & D Cell. Nearly 233 students have registered for this club from all the departments.</h4>
        <h4>Appropriate planning has been done for enhancing the coding skills of the students and following activities has been decided:<br>Coding tests, Quiz, Workshops, Meet ups with the IT professionals, etc.</h4>
        <ul class="actions">
        </ul>
      </div>
    </div>
