
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
     <!-- <h1><a href="#intro" class="scrollto">CodingClub</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#intro"><img src="../../assets/img/logo.png" alt="" title=""></a>
    </div>
    <button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
        <li><a [routerLink]="['/aboutus']" routerLinkActive="router-link-active">About Us</a></li>
        <li><a [routerLink]="['/team']" routerLinkActive="router-link-active">Team</a></li>
        <li><a [routerLink]="['/gallery']" routerLinkActive="router-link-active">Gallery</a></li>
        <li [routerLink]="['/event']" routerLinkActive="router-link-active" ><a>Events</a>
        </li>
        <li><a [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</a></li>
        <li><a [routerLink]="['/contactus']" routerLinkActive="router-link-active" >Contact Us</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
