<section id="intro">

  <div class="intro-text">
    <h2>Welcome to Coding Club</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>


</section><!-- #intro -->
<!--Intro Section-->
<main id="main">
  <!--About Us Section-->
<app-about-us></app-about-us>
        <!--event Section-->
  <app-event></app-event>
  <!--Gallery Section-->
<app-gallery></app-gallery>
  <!--Frequently Asked Questions Section-->
<app-faq></app-faq>
  <!--Our Team Section-->
  <app-team></app-team>
  <!--Contact Section-->
  <app-contact-us></app-contact-us>
  <!--footer-->
  <app-footer></app-footer>
</main>
