<section id="intro">

  <div class="intro-text">
    <h2>Welcome to Coding Club</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>

  <div class="product-screens">

    <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
      <img src="../assets/img/product-screen-1.png" alt="">
    </div>

    <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
      <img src="../assets/img/product-screen-2.png" alt="">
    </div>

    <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
      <img src="../assets/img/product-screen-3.png" alt="">
    </div>

  </div>

</section><!-- #intro -->
