<div style="height: 100vh;">
    <mat-toolbar color="primy" style="  background: -webkit-linear-gradient(to right, #6441a5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6441a5, #2a0845);color: white;padding: 3px 0%">
      <mat-toolbar-row class="navbar-fixed-top" style="  background: -webkit-linear-gradient(to right, #6441a5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #6441a5, #2a0845);">
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm class="hideinweb">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Coding Club</span>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true" class="hidein">
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <a [routerLink]="['']" mat-button>
            Home
          </a>
          <a [routerLink]="['/aboutus']" mat-button>
            About Us
          </a>
          <a [routerLink]="['/event']"  mat-button>
            Events
          </a>
          <a [routerLink]="['/gallery']"  mat-button>
            Gallery
          </a>
          <a [routerLink]="['/faq']"  mat-button>
            FAQ
          </a>
          <a [routerLink]="['/team']"  mat-button>
            Our Team
          </a>
          <a [routerLink]="['/contactus']"  mat-button>
            Contact Us
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <div class="mat-drawer-inner-container">
        <mat-nav-list>
          <a [routerLink]="['']"  mat-list-item>
            Home
          </a>
          <a [routerLink]="['/aboutus']"  mat-list-item>
            About Us
          </a>
          <a [routerLink]="['/event']"  mat-list-item>
            Events
          </a>
          <a [routerLink]="['/gallery']"  mat-list-item>
            Gallery
          </a>
          <a [routerLink]="['/faq']" mat-list-item>
            FAQ
          </a>
          <a [routerLink]="['/team']" mat-list-item>
            Our Team
          </a>
          <a [routerLink]="['/contactus']" mat-list-item>
            Contact Us
          </a>
          <a (click)="sidenav.toggle()" mat-list-item>
          </a>
        </mat-nav-list>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill> <router-outlet></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
  
  </div>
  
