
<!--==========================
  Event Section
============================-->
<section id="event" class="section-bg">
  <div class="container">

    <div class="section-header">
      <h3 class="section-title">Events</h3>
      <span class="section-divider"></span>
      <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="box wow fadeInLeft">
          <img src="../../assets/img/blog/img1.jpg">
          <h4>Event Name</h4>
          <ul>
            <li>Quam adipiscing vitae proin</li>
            <li>Nec feugiat nisl pretium</li>
            <li>Nulla at volutpat diam uteera</li>
            <li>Pharetra massa massa ultricies</li>
            <li>Massa ultricies mi quis hendrerit</li>
          </ul>
          <a href="#" class="get-started-btn">Get Started</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="box featured wow fadeInUp">
          <img src="../../assets/img/blog/img1.jpg">
          <h4>Event Name</h4>
          <ul>
            <li>Quam adipiscing vitae proin</li>
            <li>Nec feugiat nisl pretium</li>
            <li>Nulla at volutpat diam uteera</li>
            <li>Pharetra massa massa ultricies</li>
            <li>Massa ultricies mi quis hendrerit</li>
          </ul>
          <a href="#" class="get-started-btn">Get Started</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="box wow fadeInRight">
          <img src="../../assets/img/blog/img1.jpg">
          <h4>Event Name</h4>
          <ul>
            <li>Quam adipiscing vitae proin</li>
            <li>Nec feugiat nisl pretium</li>
            <li>Nulla at volutpat diam uteera</li>
            <li>Pharetra massa massa ultricies</li>
            <li>Massa ultricies mi quis hendrerit</li>
          </ul>
          <a href="#" class="get-started-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- #pricing -->

