
<!--Event Section-->
<html>
  <body>
<section id="event" class="section-bg">
  <div class="container">

    <div class="section-header">
      <h3 class="section-title">Events</h3>
      <span class="section-divider"></span>
      <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

    <div *ngFor="let i of v">

        <div class="col-lg-4 col-md-6">
          <div class="box wow fadeInLeft">
            <img src="{{ i.Url }}">
            <h4>{{i.Event_Name}}</h4>
            <ul>
              <li>{{i.dec}}</li>
            </ul>
            <!-- <a href="#" class="get-started-btn">Get Started</a> -->
            <button (click)='register(i.ID)' routerLink="/regform" class="contact1-form-btn1" style="text-decoration: none;font-size: 22px;font-family: Helvetica, Arial, sans-serif; margin-bottom: 15px;padding: auto 60px;">
						<span>
							Register
						</span>
             </button>
            <button (click)='register(i.ID)' onclick="signIn()" routerLink="/regform" class="contact1-form-btn" style="text-decoration: none;font-size: 22px;font-family: Helvetica, Arial, sans-serif">
						<span>
							Register With Gmail
						</span>
            </button>
             </div>
        </div>

    </div>  
    
  </div>
</section>
<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
<script src="/reg-form/main.js"></script>
<script>
  var config = {
    apiKey: "AIzaSyB30s0J6YXG2vjrpXb2ebxZs07MvMcBwQk",
    authDomain: "codingclub-f3cba.firebaseapp.com",
    databaseURL: "https://codingclub-f3cba.firebaseio.com",
    projectId: "codingclub-f3cba",
    storageBucket: "codingclub-f3cba.appspot.com",
    messagingSenderId: "161009164795"
  };
  firebase.initializeApp(config);  

  function signIn() {
    function newLogin(user) {

      if (user) { app(user); }

      else {
       
        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider);

      }
    }
    firebase.auth().onAuthStateChanged(newLogin);
  }
  //window.onload = signIn;
  function app(user) {
  
    //document.getElementById('pEmail').value = user.email;
    //document.getElementById('pName').value = user.displayName;
 consol.log(user.email);
  }
</script>
</body>
</html>

