
<!--Event Section-->
<section id="event" class="section-bg">
  <div class="container">

    <div class="section-header">
      <h3 class="section-title">Events</h3>
      <span class="section-divider"></span>
      <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

    <div *ngFor="let i of v">

        <div class="col-lg-4 col-md-6">
          <div class="box wow fadeInLeft">
            <img src="{{ i.Url }}">
            <h4>{{i.Event_Name}}</h4>
            <ul>
              <li>{{i.dec}}</li>
            </ul>
            <!-- <a href="#" class="get-started-btn">Get Started</a> -->
            <button class = "get-started-btn" (click)='register(i.ID)' routerLink="/regform">Click Here</button>
          </div>
        </div>

    </div>
    
  </div>
</section>

