<section class="blog-area pt-5 pb-5">
  <div class="container">

        <hr class="style-two">
      <div class="row">
          <div class="col-xl-12 text-center pb-3">
            <div class="section-header">
                <h3 class="section-title">Blog Section</h3>
                <span class="section-divider"></span>
                <p class="section-description">we believe that anyone, any major, from any background can learn how to code.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="blog-wrapper home-blog-wrapper white-bg">
                  <div class="blog-thumb">
                      <a href="">
                          <img src="../../assets/img/events/cyclone.png" alt="" />
                      </a>
                  </div>
                  <div class="meta-info">
                      <ul>
                          <li class="posts-time">January 08, 2019</li>
                      </ul>
                  </div>
                  <div class="blog-content home-blog">
                      <h2 class="blog-title">
                          <a href="">4 Myths Rand Fishkin Wants You to Question Launching</a>
                      </h2>
                      <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                          born and I will give you a complete
                          account of the system </p>
                  </div>
                  <div class="link-box home-blog-link">
                      <a href="">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="blog-wrapper home-blog-wrapper white-bg">
                  <div class="blog-thumb">
                      <a href="">
                          <img src="../../assets/img/events/github.png" alt="" />
                      </a>
                  </div>
                  <div class="meta-info">
                      <ul>
                          <li class="posts-time">January 08, 2019</li>
                      </ul>
                  </div>
                  <div class="blog-content home-blog">
                      <h2 class="blog-title">
                          <a href="https://bit.ly/2LHKl61">How To Be The Highest Marketer On Your Team And Skills</a>
                      </h2>
                      <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                          born and I will give you a complete
                          account of the system </p>
                  </div>
                  <div class="link-box home-blog-link">
                      <a href="https://bit.ly/2LHKl61">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="blog-wrapper home-blog-wrapper white-bg">
                  <div class="blog-thumb">
                      <a href="https://bit.ly/2LHKl61">
                          <img src="../../assets/img/events/python.png" alt="" />
                      </a>
                  </div>
                  <div class="meta-info">
                      <ul>
                          <li class="posts-time">January 08, 2019</li>
                      </ul>
                  </div>
                  <div class="blog-content home-blog">
                      <h2 class="blog-title">
                          <a href="">Be The Highest Marketer On Your Team And Skills</a>
                      </h2>
                      <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                          born and I will give you a complete
                          account of the system </p>
                  </div>
                  <div class="link-box home-blog-link">
                      <a href="">Read More</a>
                  </div>
              </div>
          </div>
          </div>
         <div style="align-content: center;text-align: center; margin-top: 2%;">
            <button class="slice" >
                <a href="/mainblogpage"><h3>Click Here to view all posts published by us.</h3></a>
            </button>
          </div>
          <hr class="style-two">
  </div>
  
</section>


