<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h1 class="section-title">Our Team</h1>
      <span class="section-divider"></span>
      <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

      <div *ngFor="let i of v">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="{{ i.Url }}"></div>
          <h4>{{ i.mem_name }}</h4>
          <span>{{ i.mem_post }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

