<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h1 class="section-title">Our Team</h1>
      <span class="section-divider"></span>
      <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="../assets/img/team/team-1.jpg" alt=""></div>
          <h4>Lorem Ipsum</h4>
          <span>Lorem Ipsum</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="../assets/img/team/team-2.jpg" alt=""></div>
          <h4>Lorem Ipsum</h4>
          <span>Lorem Ipsum</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="../assets/img/team/team-3.jpg" alt=""></div>
          <h4>Lorem Ipsum</h4>
          <span>Lorem Ipsum</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="../assets/img/team/team-4.jpg" alt=""></div>
          <h4>Lorem Ipsum</h4>
          <span>Lorem Ipsum</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- #team -->
