<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h1 class="section-title">Our Team</h1>
     </div>

      <div *ngFor="let i of v">
        <div class="col-lg-4">
          <div class="our-team-main">
          
          <div class="team-front">
          <img src="{{ i.Url }}" class="img-fluid" />
          <h3>{{ i.mem_name }}</h3>
          <p>{{ i.mem_post }}</p>
          </div>
          </div>
          </div>
        </div>
      </div>
</section>

